:root {
  color-scheme: light;
  --color-background: white;
  --color-surface: white;
  --color-primary: #0E2FA4;
  --color-on-primary: white;
  --color-primary-low: rgba(14, 47, 164, 0.05);
  --color-on-background: black;
  --color-divider: #EFEFEF;
  --color-cover-card-shadow: rgba(14, 47, 164, 0.15); }

:root[dark] {
  color-scheme: dark;
  --color-background: #1b2027;
  --color-surface: #262a30;
  --color-primary: #f1d05b;
  --color-on-primary: black;
  --color-primary-low: rgba(241, 208, 91, 0.05);
  --color-on-background: white;
  --color-divider: #303030;
  --color-cover-card-shadow: rgba(39, 33, 12, 0.15); }

* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

html {
  -webkit-tap-highlight-color: transparent; }

body {
  background-color: var(--color-background);
  color: var(--color-on-background); }

.primary-color {
  color: var(--color-primary); }

:root[dark] .show-iff-light {
  display: none; }

:root[dark] .show-iff-dark {
  display: block; }

:root:not([dark]) .show-iff-light {
  display: block; }

:root:not([dark]) .show-iff-dark {
  display: none; }

.block {
  display: block; }
