:root {
  color-scheme: light;
  --color-background: #fcfcfc;
  --color-background-dimmed: #eaeaea;
  --color-on-background: #333333;
  --color-surface: white;
  --color-surface-dimmed: #f3f3f3;
  --color-on-surface: #2e2e2e;
  --color-primary: #2d4deb;
  --color-primary-dimmed: #1939d7;
  --color-primary-dark: #1939d7;
  --color-on-primary: white;
  --color-base: #ededed;
  --color-base-dimmed: #dedede;
  --color-on-base: var(--color-on-background);
  --color-button-outline: #7070704f; }

:root[dark] {
  color-scheme: dark;
  --color-background: #27292e;
  --color-background-dimmed: #303238;
  --color-on-background: white;
  --color-surface: #2d2e31;
  --color-surface-dimmed: #393b3f;
  --color-on-surface: white;
  --color-primary: #3e4c94;
  --color-primary-dimmed: #515c96;
  --color-primary-dark: #435acf;
  --color-on-primary: white;
  --color-base: #35363a;
  --color-base-dimmed: #404249;
  --color-button-outline: #7070704f; }

.hero-section {
  display: flex;
  position: relative;
  height: calc(100vh - 112px);
  flex-direction: column;
  justify-content: center; }

.hero-section .hero-title-field h4 {
  font-weight: normal;
  font-size: 16px;
  margin: 0; }

.hero-section .hero-title-field h2 {
  font-weight: bold;
  font-size: 32px;
  margin: 8px 0 0 0; }

.hero-section .hero-title-field h2 > a {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 8px;
  text-decoration-color: var(--color-base);
  transition-duration: .2s; }

.hero-section .hero-title-field h2 > a:hover,
.hero-section .hero-title-field h2 > a:focus {
  background-color: var(--color-base);
  border-radius: 2px;
  text-decoration-color: transparent; }

.hero-section .hero-title-field h2 > a:active {
  background-color: var(--color-base-dimmed); }

.hero-section .hero-social-items {
  margin: 24px 0 0 0;
  line-height: 44px; }

.hero-section .hero-social-items > * {
  margin-right: 8px;
  vertical-align: bottom; }

.hero-section .hero-social-items > *:last-child {
  margin-right: 0; }

.hero-section .hero-social-item {
  padding-top: 0;
  padding-bottom: 0; }

.hero-section .hero-social-item > span {
  line-height: 32px; }

.hero-section .hero-social-icon {
  margin: -4px 8px -4px -8px;
  font-size: 24px;
  line-height: 16px;
  vertical-align: middle; }

.hero-section .hero-img-holder {
  position: absolute;
  right: 0;
  margin-right: 32px; }

/*.section-title {
  padding: 16px 0;
  font-weight: bold;
  font-size: 1.5rem;
}*/
section.index-profile-section {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  section.index-profile-section > .container {
    padding: 64px 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  section.index-profile-section .items-container {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    section.index-profile-section .items-container > img {
      width: 192px;
      height: 192px;
      border-radius: 50%;
      margin-bottom: 16px; }
    section.index-profile-section .items-container > h1 {
      font-size: 1.375rem;
      font-weight: bold; }
    section.index-profile-section .items-container > h2 {
      font-size: 1.125rem;
      font-weight: bold;
      margin-bottom: 8px; }
    section.index-profile-section .items-container > h3 {
      font-size: 1.125rem;
      font-weight: normal; }
