:root {
  color-scheme: light;
  --color-background: white;
  --color-surface: white;
  --color-primary: #0E2FA4;
  --color-on-primary: white;
  --color-primary-low: rgba(14, 47, 164, 0.05);
  --color-on-background: black;
  --color-divider: #EFEFEF;
  --color-cover-card-shadow: rgba(14, 47, 164, 0.15); }

:root[dark] {
  color-scheme: dark;
  --color-background: #1b2027;
  --color-surface: #262a30;
  --color-primary: #f1d05b;
  --color-on-primary: black;
  --color-primary-low: rgba(241, 208, 91, 0.05);
  --color-on-background: white;
  --color-divider: #303030;
  --color-cover-card-shadow: rgba(39, 33, 12, 0.15); }

.article-list li {
  background-color: var(--color-background); }

.index-section .index-section-title {
  margin: 128px 0 32px 0;
  text-align: center; }

.index-section:not(:last-child) {
  border-bottom: solid 1px var(--color-divider); }

.hero-section > .container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.hero-section .index-cover-card {
  background-color: var(--color-surface);
  box-sizing: content-box;
  width: 196px;
  margin: 128px 0 64px 0;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 16px 0 var(--color-cover-card-shadow);
  color: var(--color-primary); }
  .hero-section .index-cover-card > .image {
    width: 196px;
    height: 196px;
    margin-bottom: 16px; }
  .hero-section .index-cover-card > .title {
    font-weight: bold;
    font-size: 1.5rem; }
  .hero-section .index-cover-card > .subtitle {
    font-weight: normal;
    font-size: 1.25rem; }

:root[dark] .index-cover-card {
  border: solid 1px var(--color-primary-low); }

.hero-section .index-cover-social {
  display: block;
  margin-bottom: 64px;
  text-align: center; }
  .hero-section .index-cover-social .icon {
    font-size: inherit;
    margin-bottom: -2px;
    margin-right: 4px; }
  .hero-section .index-cover-social > a {
    display: inline-block;
    margin: 4px; }

.hero-section .index-cover-quote {
  display: block;
  max-width: 320px;
  margin-bottom: 32px; }
  .hero-section .index-cover-quote > .content {
    text-align: center;
    margin-bottom: 8px; }
  .hero-section .index-cover-quote > .reference {
    text-align: end; }
    .hero-section .index-cover-quote > .reference::before {
      content: "\2014";
      margin-right: 4px; }

.hero-section .index-cover-menu {
  margin-bottom: 64px; }
  .hero-section .index-cover-menu > *:not(:last-child) {
    margin-right: 16px; }

.index-section.article-list-section {
  padding-bottom: 64px; }
