@charset "UTF-8";
:root {
  color-scheme: light;
  --color-background: white;
  --color-surface: white;
  --color-primary: #0E2FA4;
  --color-on-primary: white;
  --color-primary-low: rgba(14, 47, 164, 0.05);
  --color-on-background: black;
  --color-divider: #EFEFEF;
  --color-cover-card-shadow: rgba(14, 47, 164, 0.15); }

:root[dark] {
  color-scheme: dark;
  --color-background: #1b2027;
  --color-surface: #262a30;
  --color-primary: #f1d05b;
  --color-on-primary: black;
  --color-primary-low: rgba(241, 208, 91, 0.05);
  --color-on-background: white;
  --color-divider: #303030;
  --color-cover-card-shadow: rgba(39, 33, 12, 0.15); }

.article-list {
  padding: 0 0;
  margin: 0 -16px;
  list-style: none; }
  .article-list > li:not(:last-child)::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--color-divider); }
  .article-list .article-list-item {
    background-color: inherit;
    display: block;
    padding: 24px 16px; }
    .article-list .article-list-item > .title {
      margin-bottom: 8px; }
    .article-list .article-list-item > .meta span {
      font-size: inherit;
      font-weight: inherit; }
    .article-list .article-list-item > .meta .date::after {
      content: " · "; }
    .article-list .article-list-item > .meta .category:not(:last-child)::after {
      content: "/"; }
