:root {
  color-scheme: light;
  --color-background: #fcfcfc;
  --color-background-dimmed: #eaeaea;
  --color-on-background: #333333;
  --color-surface: white;
  --color-surface-dimmed: #f3f3f3;
  --color-on-surface: #2e2e2e;
  --color-primary: #2d4deb;
  --color-primary-dimmed: #1939d7;
  --color-primary-dark: #1939d7;
  --color-on-primary: white;
  --color-base: #ededed;
  --color-base-dimmed: #dedede;
  --color-on-base: var(--color-on-background);
  --color-button-outline: #7070704f; }

:root[dark] {
  color-scheme: dark;
  --color-background: #27292e;
  --color-background-dimmed: #303238;
  --color-on-background: white;
  --color-surface: #2d2e31;
  --color-surface-dimmed: #393b3f;
  --color-on-surface: white;
  --color-primary: #3e4c94;
  --color-primary-dimmed: #515c96;
  --color-primary-dark: #435acf;
  --color-on-primary: white;
  --color-base: #35363a;
  --color-base-dimmed: #404249;
  --color-button-outline: #7070704f; }

section.main-head {
  padding-top: 56px;
  min-height: 128px;
  border-bottom: 1px solid var(--color-background-dimmed); }
  section.main-head .profile {
    display: block;
    text-align: center;
    padding-bottom: 32px; }
    section.main-head .profile .profile-logo > img {
      height: 48px; }
      :root[dark] section.main-head .profile .profile-logo > img {
        filter: invert(1); }
    section.main-head .profile .profile-subtitle {
      font-size: 0.875rem;
      font-weight: bold; }
  section.main-head .menu-container {
    text-align: center;
    padding-bottom: 16px; }
    section.main-head .menu-container > ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      section.main-head .menu-container > ul > li {
        display: inline-block; }
        section.main-head .menu-container > ul > li:not(:last-child)::after {
          content: "|";
          display: inline-block;
          opacity: .5; }
        section.main-head .menu-container > ul > li > a {
          padding: 8px; }
