@media screen and (max-width: 768px){

  nav {
    min-height: 56px;
    height: 56px;
    transition: height .6s cubic-bezier(0.86, 0, 0.18, 1);
  }

  nav .inner {
    height: 0;
  }

  nav.open {
    height: 100%;
  }

  nav .title {
    display: block;
    text-align: center;
    float: none;
    line-height: 40px;
  }

  nav .nav-hand {
    display: block;
    height: 100%;
    z-index: 999;
    cursor: pointer;
  }

  nav.open .nav-hand {
    height: auto;
  }

  /*nav .nav-hand-indicator {
    display: inline-block;
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--nav-color-on-background);
    opacity: .875;
  }*/

  nav .nav-hand-indicator {
    position: inherit;
    bottom: 0;
    width: 100%;
    transition-duration: .6s;
    opacity: .875;
  }

  nav .nav-hand-indicator::before,
  nav .nav-hand-indicator::after {
    display: inline-block;
    content: "";
    background-color: var(--nav-color-on-background);
    border-radius: 2px;
    width: 20px;
    height: 4px;
    left: 50%;
  }

  
  nav .nav-hand-indicator::before {
    transform: rotate(10deg) translateX(2px);
    transform-origin: 100% 100%;
  }
  nav .nav-hand-indicator::after {
    transform: rotate(-10deg) translateX(-2px);
    transform-origin: 0 100%;
  }

  nav.open .nav-hand-indicator {
    transform: scaleY(-100%);
  }

  nav .nav-items {
    float: none;
    position: static;
    left: 0;
    right: 0;
    margin-bottom: 24px; /* Margin for nav-hand */

    max-height: calc(100vh - 56px);

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }

  nav .nav-items::-webkit-scrollbar {
    display: none;
  }

  nav .nav-item {
    position: static;
    display: block;
  }

  nav .nav-item .nav-link {
    display: block;
  }

  nav .nav-item.active .nav-indicator {
    display: none;
    bottom: 0;
  }

  nav .nav-items {
    display: block;
    overflow-y: scroll;
    opacity: 0;
    transition-duration: .2s;
    transform: translateY(-100%);
    transition: all .6s cubic-bezier(0.86, 0, 0.18, 1);
  }

  nav.open .nav-items {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }

}
  