:root {
  color-scheme: light;
  --color-background: white;
  --color-surface: white;
  --color-primary: #0E2FA4;
  --color-on-primary: white;
  --color-primary-low: rgba(14, 47, 164, 0.05);
  --color-on-background: black;
  --color-divider: #EFEFEF;
  --color-cover-card-shadow: rgba(14, 47, 164, 0.15); }

:root[dark] {
  color-scheme: dark;
  --color-background: #1b2027;
  --color-surface: #262a30;
  --color-primary: #f1d05b;
  --color-on-primary: black;
  --color-primary-low: rgba(241, 208, 91, 0.05);
  --color-on-background: white;
  --color-divider: #303030;
  --color-cover-card-shadow: rgba(39, 33, 12, 0.15); }

.article-head {
  padding-top: 64px;
  padding-bottom: 32px;
  border-bottom: solid 2px var(--color-primary); }
  .article-head .article-title,
  .article-head .article-subtitle {
    color: var(--color-primary);
    margin: 0; }
  .article-head .article-subtitle {
    margin-top: 4px; }
  .article-head .article-title-icon {
    font-size: 48px;
    margin-bottom: 16px; }

.article-body .article-body-top {
  border-bottom: 1px solid var(--color-divider);
  line-height: 48px;
  display: flex;
  justify-content: space-between; }
  .article-body .article-body-top .category-item:not(:last-child)::after {
    content: "/";
    margin: 0 4px; }

.article-body .article-language-container {
  line-height: 48px;
  text-align: right; }
  .article-body .article-language-container > a {
    padding: 0 8px; }

.article-body .article-body-content {
  margin: 32px 0; }

.utterances {
  max-width: 100%; }
