:root {
  --color-background: #fcfcfc;
  --color-background-dimmed: #eaeaea;
  --color-on-background: #333333;

  --color-surface: white;
  --color-surface-dimmed: #f3f3f3;
  --color-on-surface: #2e2e2e;

  --color-primary: #2d4deb;
  --color-primary-dimmed: #1939d7;
  --color-primary-dark: #1939d7;
  --color-on-primary: white;

  --color-base: #ededed;
  --color-base-dimmed: #dedede;
  --color-on-base: var(--color-on-background);

  --color-button-outline: #7070704f;
}

:root[dark] {
  --color-background: #27292e;
  --color-background-dimmed: #303238;
  --color-on-background: white;

  --color-surface: #2d2e31;
  --color-surface-dimmed: #393b3f;
  --color-on-surface: white;

  --color-primary: #3e4c94;
  --color-primary-dimmed: #515c96;
  --color-primary-dark: #435acf;
  --color-on-primary: white;

  --color-base: #35363a;
  --color-base-dimmed: #404249;

  --color-button-outline: #7070704f;
}

html {
  color: var(--color-on-background);
  background-color: var(--color-background);
}

.ui-button {
  display: inline-block;
  min-height: 32px;
  line-height: 16px;
  padding: 8px 16px;
  font-size: 14px;

  border-radius: 2px;
  transition-duration: .175s;

  background-color: var(--color-base);
  border: 1px solid var(--color-button-outline);
}

.ui-button.ui-primary {
  color: var(--color-on-primary);
  background-color: var(--color-primary);
  border: 1px solid var(--color-button-outline);
}

.ui-button.ui-outlined {
  color: inherit;
  background-color: transparent;
  border: 1px solid var(--color-button-outline);
}

.ui-button:hover,
.ui-button:focus {
  filter: brightness(.92) hue-rotate(3deg);
}

.ui-button:active {
  filter: brightness(.81) hue-rotate(7deg);
}

.ui-button>* {
  vertical-align: middle;
}

.ui-pressable-dim {
  transition-duration: .2s;
}
.ui-pressable-dim:hover,
.ui-pressable-dim:focus {
  filter: brightness(.93);
}
.ui-pressable-dim:active {
  filter: brightness(.85);
}

.ui-pressable-opacity {
  transition-duration: .2s;
  opacity: 1;
}
.ui-pressable-opacity:hover,
.ui-pressable-opacity:focus {
  opacity: .67;
}
.ui-pressable-opacity:active {
  opacity: .32;
  /*transform: scale(.97);*/
}

.ui-pressable-in {
  transition-duration: .2s;
}
.ui-pressable-in:hover,
.ui-pressable-in:focus {
  filter: brightness(.93);
}
.ui-pressable-in:active {
  filter: brightness(.85);
}

.ui-card {
  border-radius: 2px;
  background-color: var(--color-surface);
  border: 1px solid var(--color-surface-dimmed);
}

/*
 * Dark Mode
 */

:root[dark] .ui-button:hover,
:root[dark] .ui-button:focus {
  filter: brightness(.87) hue-rotate(3deg);
}

:root[dark] .ui-button:active {
  filter: brightness(.76) hue-rotate(7deg);
}

:root[dark] .ui-pressable-dim {
  transition-duration: .2s;
}
:root[dark] .ui-pressable-dim:hover,
:root[dark] .ui-pressable-dim:focus {
  filter: brightness(.87);
}
:root[dark] .ui-pressable-dim:active {
  filter: brightness(.76);
}

:root[dark] .ui-pressable-in {
  transition-duration: .2s;
}
:root[dark] .ui-pressable-in:hover,
:root[dark] .ui-pressable-in:focus {
  filter: brightness(.97);
}
:root[dark] .ui-pressable-in:active {
  filter: brightness(.88);
}