html {
  color: var(--color-on-background);
  background-color: var(--color-background);
}

.ui-card {
  border-radius: 2px;
  background-color: var(--color-surface);
  border: 1px solid var(--color-surface-dimmed);
}

/*
 * Dark Mode
 */

:root[dark] .ui-button:hover,
:root[dark] .ui-button:focus {
  filter: brightness(.87) hue-rotate(3deg);
}

:root[dark] .ui-button:active {
  filter: brightness(.76) hue-rotate(7deg);
}

:root[dark] .ui-pressable-dim {
  transition-duration: .2s;
}
:root[dark] .ui-pressable-dim:hover,
:root[dark] .ui-pressable-dim:focus {
  filter: brightness(.87);
}
:root[dark] .ui-pressable-dim:active {
  filter: brightness(.76);
}

:root[dark] .ui-pressable-in {
  transition-duration: .2s;
}
:root[dark] .ui-pressable-in:hover,
:root[dark] .ui-pressable-in:focus {
  filter: brightness(.97);
}
:root[dark] .ui-pressable-in:active {
  filter: brightness(.88);
}

/* HorTab */

