$gnb-height: 56px;
$gnb-height-min: 48px;

$mainhead-height: 128px;

$container-width: 1144px;
$container-width-sm: 936px;
$container-padding-horizontal: 16px;
$container-width-plan: 1128px;

$border-radius-sm: 2px;
$border-radius-md: 4px;
$border-radius-lg: 6px;

$transition-duration-f: .175s;
$transition-duration-m: .2s;
$transition-duration-s: .4s;