doctype html
html(lang=config.language)

  head 
    include ./head
    block style
    //-  link(href='/css/bootstrap.css' rel='stylesheet')
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')


  body.p-lo
    != js('js/colortheme.js')
    include ../_partial/preloader
    header
      include ../_partial/nav
      block lnb
    main
      block main
    footer
      block footer
        include ./footer
    block scripts
    include ./scripts

    style.
      body.p-lo {
        transition: none !important;
        -o-transition: none !important;
        -webkit-transition: none !important;
        -ms-transition: none !important;
        -moz-transition: none !important;
      }

    script.
      window.addEventListener('load', (e) => {
        document.body.classList.remove('p-lo');
      });