@import "./layout";
@import "./typography";

:root {
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  
  background-color: var(--color-background);
  color: var(--color-on-background);
}

h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: block; //for IE
}

main {
  padding-top: $gnb-height;
}

section .section-header.t-p {
  padding-top: 32px;
}

section .section-header>.content,
section .section-body>.content,
section .section-footer>.content {
  max-width: 936px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: content-box;
}

section .section-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 16px;
  margin-bottom: 16px;
}