-
  var icons = { 
    'github': 'logo-github',
    'linkedin': 'logo-linkedin',
    'dark': 'moon',
    'light': 'sunny',
    'search': 'search'
  };

nav#theme-nav
  .inner
    a.title(href="/").ui-pressable--opacity
      if theme.nav.logo != null
        img(src=theme.nav.logo)
      else
        theme.nav.title
    a.nav-hand.ui-pressable--opacity: .nav-hand-indicator
    .nav-items(class= {"nav-colored": theme.nav.colored_nav_items})
      each itemv, itemi in theme.nav.items
        if itemi == 'GitHub'
          .nav-item.nav-item-icon
            a.nav-link(href = url_for(itemv)).ui-pressable--opacity: ion-icon(name=icons.github)
        else
          //- var act = !(/^(http|https):\/\/*/gi).test(itemv) && "/"+page.path === itemv + "/index.html"
          .nav-item(class={active: is_current(url_for(itemv))})
            a.nav-link(href = url_for(itemv)).ui-pressable--opacity
              = itemi
              span.nav-indicator
      if theme.nav.show_dark_mode_switch
        .nav-item
          a.nav-mode-switch.ui-pressable--opacity
            ion-icon.nav-dark(name=icons.dark)
            ion-icon.nav-light(name=icons.light)