-
  var icons = { 
    'github': 'logo-github',
    'linkedin': 'logo-linkedin',
    'dark': 'moon',
    'light': 'sunny',
    'search': 'search'
  };

nav#theme-nav.--transparent
  .inner
    a.title(href="/").ui-pressable--opacity.hidden-when-top
      if theme.nav.logo != null
        img(src=theme.nav.logo)
      else
        theme.nav.title
    a.nav-hand.ui-pressable--opacity: .nav-hand-indicator
    .nav-items(class= {"nav-colored": theme.nav.colored_nav_items})
      each itemv, itemi in theme.nav.items
          //- var act = !(/^(http|https):\/\/*/gi).test(itemv) && "/"+page.path === itemv + "/index.html"
          .nav-item(class={active: is_current(url_for(itemv) )}).hidden-when-top
            a.nav-link(href = url_for(itemv)).ui-pressable--opacity
              = itemi
              span.nav-indicator
      
      .nav-item.nav-item-icon
        a.nav-link(href = url_for(theme.nav.social.github)).ui-pressable--opacity: ion-icon(name=icons.github)
    
      if theme.nav.show_dark_mode_switch
        .nav-item
          a.nav-mode-switch.ui-pressable--opacity
            ion-icon.nav-dark(name=icons.dark)
            ion-icon.nav-light(name=icons.light)