.article-lnb {
  display: none;
}

@media screen and (max-width: 768px){

  main {
    padding-top: $gnb-height-min;
  }

  nav {
    min-height: $gnb-height-min;
    height: $gnb-height-min;
    transition: height .6s cubic-bezier(0.86, 0, 0.18, 1);
  }

  nav .inner {
    height: 0;
  }

  nav.open {
    height: 100%;
  }

  nav .title {
    display: block;
    text-align: center;
    float: none;
    line-height: 40px;
  }

  nav .title {
    position: relative;
    font-size: $text-size--xs;
    top: -4px;
    font-weight: normal;
    transition-delay: .2s;
  }

  nav .nav-hand {
    display: block;
    height: 100%;
    z-index: 999;
    cursor: pointer;
  }

  
  nav.open .title {
    font-size: $text-size--md;
    font-weight: bold;
    top: 0;
  }
  nav.open .nav-hand {
    height: auto;
  }

  /*nav .nav-hand-indicator {
    display: inline-block;
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--nav-color-on-background);
    opacity: .875;
  }*/

  nav .nav-hand-indicator {
    position: inherit;
    bottom: 0;
    width: 100%;
    transition-duration: .6s;
    opacity: .875;
  }

  nav .nav-hand-indicator::before,
  nav .nav-hand-indicator::after {
    display: inline-block;
    content: "";
    background-color: var(--nav-color-on-background);
    border-radius: 1px;
    width: 20px;
    height: 2px;
    left: 50%;
  }

  
  nav .nav-hand-indicator::before {
    transform: rotate(15deg) translateX(0px);
    transform-origin: 100% 100%;
  }
  nav .nav-hand-indicator::after {
    transform: rotate(-15deg) translateX(0px);
    transform-origin: 0 100%;
  }

  nav.open .nav-hand-indicator {
    transform: scaleY(-100%);
  }

  nav .nav-items {
    float: none;
    position: static;
    left: 0;
    right: 0;
    margin-bottom: 24px; /* Margin for nav-hand */

    max-height: calc(100vh - 56px);

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }

  nav .nav-items::-webkit-scrollbar {
    display: none;
  }

  nav .nav-item {
    position: static;
    display: block;
  }

  nav .nav-item .nav-link {
    display: block;
  }

  nav .nav-item.active .nav-indicator {
    display: none;
    bottom: 0;
  }

  nav .nav-items {
    display: block;
    overflow-y: scroll;
    opacity: 0;
    transition-duration: .2s;
    transform: translateY(-100%);
    transition: all .6s cubic-bezier(0.86, 0, 0.18, 1);
  }

  nav.open .nav-items {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }

  /*
  .lnb-container {
    padding: 4px;
    display: block;
    width: 100%;
    opacity: .875;
    position: fixed;
    top: $gnb-height-min;
    transition-duration: .6s;
  }

  .article-lnb {
    display: block;
    padding: 8px;
  }

  .article-lnb {
    background-color: var(--color-surface-dimmed);
    border-bottom: 1px solid var(--nav-color-border);

    .lnb-title {

    }
  }

  nav.open~.lnb-container {
    opacity: 0;
  }*/

}