.pagination {
  display: block;
  text-align: center;
  margin: 16px 0;
  
  .page-number {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: $text-size--md;
    line-height: 32px;
  }

  >*:not(:last-child) {
    margin-inline-end: 8px;
  }

  .page-number,
  .extend {
    border-radius: $border-radius-sm;
    background-color: var(--color-base);
    border: 1px solid var(--color-base-dimmed);
    box-sizing: content-box;
  }

  .page-number.current {
    font-weight: bold;
    border: 1px solid var(--color-on-background);
    background-color: var(--color-base-dimmed);
    color: var(--color-on-background);
  }
  
  a {
    transition: .2s;
    &:hover,
    &:focus {
      filter: brightness(.94);
    }
    &:active {
      filter: brightness(.83);
    }
  }
  
  .extend {
    display: inline-block;
    width: 48px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    background-color: var(--color-surface);
    border-color: var(--color-base-dimmed);
  }
}
