section.hero.is-halfheight.section-cover-profile
  .hero-body
    .container.has-text-centered
      .content
        figure.image.is-128x128.is-inline-block.mb-0
          img(src=theme.covers.profile.image).is-rounded
        h3.title.is-3.mt-2 전호균
        h5.subtitle.is-5 Hogyun Jeon