.post-list-section.t-p,
.category-list-section.t-p {
  padding-top: 32px;
}

.post-list,
.post-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-list li {
  /*margin: 0 -16px 8px -16px;*/
  margin-bottom: 8px;
}

.post-list li:last-child {
  margin-bottom: 0;
}

.post-item {
  @extend .ui-surface--pressable;
}

.post-item .post-item-info {
  padding: 16px;
}

.post-item .post-item-info>.post-title {
  font-weight: bold;
  font-size: 1.125rem;
  margin: 0;
  opacity: .875;
}

.post-item .post-item-info>.post-meta {
  font-weight: normal;
  font-size: 0.875rem;
  margin: 4px 0 0 0;
  opacity: .750;
}

.post-item .post-item-info>.post-meta .post-categories {
  margin-left: 12px;
}

.post-item .post-item-info>.post-meta .post-categories .post-category:not(:last-child)::after {
  content: "\E001";
  opacity: .375;
  margin: 0 4px;
}



.post-container .post-inner {
  box-sizing: content-box;
  max-width: 960px;
  padding: 0 16px;
  margin: 0 auto;
}

.post-article .post-head {
  padding: 128px 0 32px 0;
  margin-bottom: 32px;
  border-bottom: 1px solid var(--color-background-dimmed);
}

.post-article .post-head .post-meta{
  opacity: .750;
  margin-bottom: 16px;
}

.post-article .post-head .post-meta .post-date {
  font-weight: normal;
  font-size: 1rem/*.875rem*/;
}

.post-article .post-head .post-meta .post-categories {
  font-weight: normal;
  font-size: 1rem/*.875rem*/;
  margin-bottom: 4px;
  display: block;
}

.post-article .post-head .post-meta .post-categories .post-category {
  display: inline-block;
  background-color: var(--color-background);
  border: 1px solid var(--color-background-dimmed);
  border-radius: 2px;
  padding: 0px 4px;
  transition-duration: .2s;
}

.post-article .post-head .post-meta .post-categories .post-category:hover,
.post-article .post-head .post-meta .post-categories .post-category:focus {
  filter: brightness(.875);
}

.post-article .post-head .post-meta .post-categories .post-category:active {
  filter: brightness(.750);
}

.post-article .post-head .post-meta .post-categories .post-category:not(:last-child) {
  margin-right: 4px;
}

.post-article .post-head .post-title {
  margin: 0;
  font-weight: bold;
  font-size: 2.5rem;
}

.post-article .post-head .post-subtitle {
  margin: 8px 0 0 0;
  font-weight: normal;
  font-size: 1.125rem;
  opacity: 0.875;
}

.post-article .post-body {
  padding: 32px 0;
}

/* New */

.category-list-section .details-grid {
  display: grid;
  grid-template-columns: 360px 744px;
  gap: 24px;
}

.category-list-section .details-grid .details-header {
  padding: 32px 0 16px 0;
}

.category-list-section .details-grid .details-header>.details-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--color-on-background);
}

.category-list-section .details-grid .details-header>.details-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--color-on-background);
}

@media screen and (max-width: 1159px) {
  .category-list-section .details-grid {
    display: grid;
    grid-template-columns: 45fr 93fr;
    gap: 16px;
  }
}

.category-list-section .details-grid .details-category .details-header .close-menu,
.category-list-section .details-grid .details-post .details-header .expand-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .category-list-section .details-grid {
    display: block;
    position: relative;
    width: 100%;
  }

  .category-list-section .details-grid>* {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all .4s ease-in-out;
  }

  .category-list-section .details-grid .details-category {
    opacity: 0;
  }
  .category-list-section .details-grid .details-post {
    opacity: 1;
  }

  .category-list-section .details-grid:not(.left-expand) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .category-list-section .details-grid:not(.left-expand) .details-category {
    opacity: 0;
    transform: translateX(-100%);
  }
  .category-list-section .details-grid:not(.left-expand) .details-post {
    opacity: 1;
  }

  .category-list-section .details-grid.left-expand {

  }
  .category-list-section .details-grid.left-expand .details-category {
    opacity: 1;
  }
  .category-list-section .details-grid.left-expand .details-post {
    opacity: 0;
    transform: translateX(100%);
  }

  .category-list-section .details-grid .details-category .details-header,
  .category-list-section .details-grid .details-post .details-header {
    padding-top: 0;
  }

  .category-list-section .details-grid .details-post .details-header .expand-menu,
  .category-list-section .details-grid .details-category .details-header .close-menu {
    display: inline-block;
    font-weight: bold;
    background-color: var(--color-surface);
    border: 1px solid var(--color-surface-dimmed);
    border-radius: 2px;
    margin-bottom: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
    cursor: pointer;
  }
  .category-list-section .details-grid .details-category .details-header-top {
    text-align: end;
  }
  /*.category-list-section .details-grid .details-category .details-header .close-menu ion-icon,
  .category-list-section .details-grid .details-post .details-header .expand-menu ion-icon,
    vertical-align: middle;
    position: relative;
    top: -2px;
    height: 40px;
  }*/
}