$base-light: #fcfcfc;
$base-dark: #27292e;

.markdown-body {
  --m-color-bg-canvas: var(--color-background);
  --m-color-bg-secondary: var(--color-background);
  --m-color-bg-tertiary: var(--color-surface);

  --m-color-bg-code: #ebebebae;
  
  --m-color-border-primary: #{darken($base-light, 8%)};
  --m-color-border-secondary: #{darken($base-light, 12%)};
  --m-color-border-tertiary: #cdceda;

  --m-color-blockquote-left: var(--m-color-border-secondary);

  --m-color-text-canvas: #{darken($base-light, 96%)};
  --m-color-text-tertiary: #{darken($base-light, 52%)};
  --m-color-text-link: #3073b6;
  --m-color-text-link-absent: #c92929;

  --m-color-bg-table-head: #ececec;
  --m-color-bg-table-primary: #fafafa;
  --m-color-bg-table-secondary: #f1f1f3;
}

:root[dark] .markdown-body {

  --m-color-bg-code: #2d2d33;
  
  --m-color-border-primary: #444C56;
  --m-color-border-secondary: #535963;
  --m-color-border-tertiary: #3e3e42;

  --m-color-text-canvas: #{lighten($base-dark, 68%)};
  --m-color-text-tertiary: #{lighten($base-dark, 44%)};
  --m-color-text-link: #639ed8;
  --m-color-text-link-absent: #d88c8c;

  --m-color-bg-table-head: #303030;
  --m-color-bg-table-primary: #27292c;
  --m-color-bg-table-secondary: #2a2c30;
}

.markdown-body{
  padding-top: 16px;
  padding-bottom: 16px;
  padding: 32px;

  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  word-wrap: break-word;

  background-color: var(--m-color-bg-canvas);
  color: var(--m-color-text-canvas);
  
  >*:first-child {
    margin-top: 0 !important;
  }
  
  >*:last-child {
    margin-bottom: 0 !important;
  }
  
  a {
    color: var(--m-color-text-link);
    text-decoration: none;
  }
  
  a.absent {
    color: var(--m-color-text-link-absent);
  }
  
  a.anchor {
    display: block;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 24px 0 16px;
    padding: 0;
    line-height: 1.25;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative;
  }
  
  h2:first-child, h1:first-child, h1:first-child + h2, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  
  h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
    text-decoration: none;
  }
  
  h1 tt, h1 code {
    font-size: inherit;
  }
  
  h2 tt, h2 code {
    font-size: inherit;
  }
  
  h3 tt, h3 code {
    font-size: inherit;
  }
  
  h4 tt, h4 code {
    font-size: inherit;
  }
  
  h5 tt, h5 code {
    font-size: inherit;
  }
  
  h6 tt, h6 code {
    font-size: inherit;
  }

  h1, h2 {
    border-bottom: 1px solid var(--m-color-border-secondary);
    padding-bottom: .3em;
  }
  
  h1 {
    font-size: 2em;
    color: inherit;
  }
  
  h2 {
    font-size: 1.5em;
    color: inherit;
  }
  
  h3 {
    font-size: 1.25em;
  }
  
  h4 {
    font-size: 1.125em;
  }
  
  h5 {
    font-size: 1em;
  }
  
  h6 {
    font-size: .875em;
    color: inherit;
  }
  
  p, blockquote, ul, ol, dl, li, table, pre {
    margin: 16px 0;
  }
  
  hr {
    border: 0 none;
    background-color: var(--m-color-border-primary);
    height: 4px;
    padding: 0;
    margin: 24px 0;
  }
  
  body > h2:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  
  body > h1:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  
  body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0;
  }
  
  body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  
  a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
  }
  
  h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
    margin-top: 0;
  }
  
  li p.first {
    display: inline-block;
  }
  
  ul, ol {
    /*padding-left: 32px;*/
    padding-left: 2em;
  }
  
  ul :first-child, ol :first-child {
    margin-top: 0;
  }
  
  ul :last-child, ol :last-child {
    margin-bottom: 0;
  }
  
  dl {
    padding: 0;
  }
  
  dl dt {
    font-size: .875em;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 16px 0 8px;
  }
  
  dl dt:first-child {
    padding: 0;
  }
  
  dl dt > :first-child {
    margin-top: 0;
  }
  
  dl dt > :last-child {
    margin-bottom: 0;
  }
  
  dl dd {
    margin: 0 0 16px;
    padding: 0 16px;
  }
  
  dl dd > :first-child {
    margin-top: 0;
  }
  
  dl dd > :last-child {
    margin-bottom: 0;
  }
  
  blockquote {
    border-left: 4px solid var(--m-color-blockquote-left);
    padding: 0 15px;
    color: var(--m-color-text-tertiary);
  }
  
  blockquote > :first-child {
    margin-top: 0;
  }
  
  blockquote > :last-child {
    margin-bottom: 0;
  }
  /*
  table {
    padding: 0;
  }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }
  
  table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }
  
  table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }
  
  table tr th :first-child, table tr td :first-child {
    margin-top: 0;
  }
  
  table tr th :last-child, table tr td :last-child {
    margin-bottom: 0;
  }*/
  
  img {
    max-width: 100%;
  }
  
  span.frame {
    display: block;
    overflow: hidden;
  }
  
  span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 16px 0 0;
    padding: 8px;
    width: auto;
  }
  
  span.frame span img {
    display: block;
    float: left;
  }
  
  span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0;
  }
  
  span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
  }
  
  span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center;
  }
  
  span.align-center span img {
    margin: 0 auto;
    text-align: center;
  }
  
  span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
  }
  
  span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right;
  }
  
  span.align-right span img {
    margin: 0;
    text-align: right;
  }
  
  span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left;
  }
  
  span.float-left span {
    margin: 13px 0 0;
  }
  
  span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right;
  }
  
  span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right;
  }
  
  code, tt {
    font-family: "Consolas", monospace;
    margin: 0 2px;
    padding: .2em .4em;
    /*font-size: 85%;*/
    font-size: .875em;
    white-space: nowrap;
    border: 1px solid var(--m-color-border-tertiary);
    background-color: var(--m-color-bg-code);
    border-radius: 4px;
  }
  
  pre code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
  }
  
  .highlight pre,
  pre {
    background-color: var(--m-color-bg-tertiary);
    border: 1px solid var(--m-color-border-tertiary);
    font-size: .875em;
    line-height: 1.4;
    overflow: auto;
    padding: 16px;
    border-radius: 4px;
  }
  
  pre code,
  pre tt {
    background-color: transparent;
    border: none;
  }

  /* ==== 

  .highlight {
    padding: 0;
    margin: 0;
    display: block;
    table {
      display: block;
      margin: 0;
      tbody {
        display: block;
      }
      tr {
        display: block;
        border: 0 none;
        background-color: transparent;
      }
      td {
        display: block;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
      }
    }
  }*/

  /*

Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/

/* === */

  table {
    display: block;
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
  }

  table th {
    font-weight: bold;
    background-color: var(--m-color-bg-table-head);
  }

  table td,
  table th {
    padding: 8px 16px;
    border: 1px solid var(--m-color-border-tertiary);
  }

  table tr {
    background-color: var(--m-color-bg-table-primary);
    border-top: 1px solid var(--m-color-border-tertiary);
  }

  table tr:nth-child(2n) {
    background-color: var(--m-color-bg-table-secondary);
  }

  /* === */

}

:root .markdown-body {
  .hljs {
    color: #383a42;
    /*background: #fafafa;*/
  }

  .hljs-comment,
  .hljs-quote {
    color: #a0a1a7;
    font-style: italic;
  }

  .hljs-doctag,
  .hljs-keyword,
  .hljs-formula {
    color: #a626a4;
  }

  .hljs-section,
  .hljs-name,
  .hljs-selector-tag,
  .hljs-deletion,
  .hljs-subst {
    color: #e45649;
  }

  .hljs-literal {
    color: #0184bb;
  }

  .hljs-string,
  .hljs-regexp,
  .hljs-addition,
  .hljs-attribute,
  .hljs-meta .hljs-string {
    color: #50a14f;
  }

  .hljs-attr,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-type,
  .hljs-selector-class,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-number {
    color: #986801;
  }

  .hljs-symbol,
  .hljs-bullet,
  .hljs-link,
  .hljs-meta,
  .hljs-selector-id,
  .hljs-title {
    color: #4078f2;
  }

  .hljs-built_in,
  .hljs-title.class_,
  .hljs-class .hljs-title {
    color: #c18401;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }

  .hljs-link {
    text-decoration: underline;
  }
}

:root[dark] .markdown-body {
  /*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.hljs {
  color: #abb2bf;
  background: #282c34;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #98c379;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
}